{
    "bootstrap": "vendor/autoload.php",
    "path": "benchmarks",
    "reports": {
        "cache_library": {
            "extends": "aggregate",
            "title": "PHP cache libraries benchmark",
            "description": "Benchmark for PHP cache libraries",
            "cols": [ "benchmark", "subject", "its", "revs", "mem_peak", "best", "worst", "mode" ]
        }
    }
}
